.mat-dialog-actions {
	float: right;
	font-family: 'Montserrat', sans-serif;
}

.mat-form-field {
	width: 230px;
	font-family: 'Montserrat', sans-serif;
}

.mat-stroked-button {
	width: 100px;
	font-family: 'Montserrat', sans-serif;
}
