<div class="masterdiv">




    <nav class="navbar navbar-dark bg-primary" style="position: relative;">

        <nav role="navigation">
            <div id="menuToggle">

                <input type="checkbox" />

                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <a href="index.html" routerLink="/home" routerLinkActive="active">
                        <li>Home</li>
                    </a>
                    <a href="about.html" routerLink="/register" routerLinkActive="active">
                        <li>Register Form</li>
                    </a>

                    <a href="contact.html" routerLink="/login" routerLinkActive="active">
                        <li>Login Form</li>
                    </a>

                    <a href="store.html" routerLink="/special" routerLinkActive="active">
                        <li>Dashboard 1</li>
                    </a>

                    <a href="store.html" routerLink="/dashboard3" routerLinkActive="active">
                        <li>Dashboard 3</li>
                    </a>

                    <a href="store.html"  routerLink="/fileupload" routerLinkActive="active">
                        <li>Fileupload</li>
                    </a>

                   
                </ul>

            </div>

        </nav>




        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-size:25px;font-family: sans-serif;position: relative;top: 10px;">Enterprise Company</span>

            <span class="ref"
                style="font-size:15px;font-family: sans-serif;position: relative;display: flex;justify-content: end;bottom: 15px;right: 50px;">User:
                Gokul</span>



            <button class="btn" routerLink="/login" routerLinkActive="active"><i class='fas fa-user-circle'
                   ></i></button>

               



        </div>





    </nav>

   
		
              <div class="container">
                <nav aria-label="Breadcrumb" class="breadcrumb">
                  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                      <a href="#" routerLink="/home" routerLinkActive="home" itemprop="item">
                        <span itemprop="name" class="sr-only">Home</span>
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>
                      </a>
                      <meta itemprop="position" content="1" />
                    </li>
                    <!-- <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                      <a href="#" routerLink="/register" routerLinkActive="active" itemprop="item">
                        <span itemprop="name">Register Form</span>
                      </a>
                      <meta itemprop="position" content="2" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                      <a href="#"  routerLink="/login" routerLinkActive="active" itemprop="item">
                        <span itemprop="name">Login Form</span>
                      </a>
                      <meta itemprop="position" content="3" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                      <a href="#"  routerLink="/special" routerLinkActive="active" itemprop="item">
                        <span itemprop="name">Dashboard 1</span>
                      </a>
                      <meta itemprop="position" content="4" />
                    </li> -->
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                      <span itemprop="item" aria-current="page">
                        <a href="#"  routerLink="/dashboard3" routerLinkActive="active" itemprop="item">
                        <span itemprop="name">Dashboard 3</span>
                        </a>
                      </span>
                      <meta itemprop="position" content="5" />
                    </li>
                    <!-- <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemprop="item" aria-current="page">
                          <a href="#"  itemprop="item">
                          <span itemprop="name">Fileupload</span>
                          </a>
                        </span>
                        <meta itemprop="position" content="6" />
                      </li> -->
                  </ol>
                </nav>
              </div>
        
        
		 <nav class="navbar" style="position:relative;bottom:20px;background-color:white;box-shadow: 0 0px 20px rgba(0,0,0,0.05), 0 0px 20px rgba(0,0,0,0.23);" >
            <a class="navbar-brand" style="height:38px;font-size:1.5em;font-weight:510;color:navy;position: relative;left: 12px;" href="#">Main title here</a>
          </nav>
 

    <div class="wrapper">

        <div class="accordion_wrap">
            <ul>
                <li class="walk">
                    <div class="accordion_item" style="background-color: rgb(235 98 28);">
                        <div class="icon">Topic 2 </div>
                    </div>
                    <div class="accordion_menu">
                        <div class="inner_am">
                            <div class="title" style="color:navy;">Topic 2 title goes here</div>
                            <br>
                                <br>
                            <div class="content">
                                
                                <img src="../../assets/images/july-2019-news-and-updates-encompass-solutions-Copy.jpg">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error placeat at
                                    non, facilis quae beatae, harum amet alias culpa ipsa quasi aspernatur aliquam
                                    magnam corporis, id asperiores doloremque velit.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error placeat at
                                    non, facilis quae beatae, harum amet alias culpa ipsa quasi aspernatur aliquam
                                    magnam corporis, id asperiores doloremque velit.</p>
                                
                                <br>
                                <br>
                                <br>
                                
                                
                                

                                <img src="../../assets/images/news-articles@2x_1.png">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error placeat at
                                    non, facilis quae beatae, harum amet alias culpa ipsa quasi aspernatur aliquam
                                    magnam corporis, id asperiores doloremque velit.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo error placeat at
                                    non, facilis quae beatae, harum amet alias culpa ipsa quasi aspernatur aliquam
                                    magnam corporis, id asperiores doloremque velit.</p>


                            </div>
                        </div>
                    </div>
                </li>
                <li class="bicycle">
                    <div class="accordion_item" style="background-color: rgb(56 99 152);">
                        <div class="icon">Topic 3</div>
                    </div>
                    <div class="accordion_menu">
                        <div class="inner_am">
                            <div class="title" style="color:navy;">Topic 3 title goes here</div>
                            <br>
                                <br>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde aut ut aliquam
                                harum doloremque quod quam iste id voluptatem!
                            </div>

                        </div>
                    </div>
                </li>
                <li class="bike">
                    <div class="accordion_item" style="background-color: rgb(69 73 120);">
                        <div class="icon">Topic 4</div>
                    </div>
                    <div class="accordion_menu">
                        <div class="inner_am">
                            <div class="title" style="color: navy;">Topic 4 title goes here</div>
                            <br>
                                <br>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde aut ut aliquam
                                harum doloremque quod quam iste id voluptatem!
                            </div>

                        </div>
                    </div>
                </li>
                <li class="car">
                    <div class="accordion_item" style=" background-color: rgb(125 59 73);">
                        <div class="icon">Topic 5</div>
                    </div>
                    <div class="accordion_menu">
                        <div class="inner_am">
                            <div class="title" style=" color: navy;">Topic 5 title goes here</div>
                            <br>
                                <br>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde aut ut aliquam
                                harum doloremque quod quam iste id voluptatem!
                            </div>

                        </div>
                    </div>
                </li>
                <!-- <li class="train">
            <div class="accordion_item" style="background-color: #666;">
                <div class="icon">Topic 5</div>
            </div>
            <div class="accordion_menu">
                <div class="inner_am">
                    <div class="title" style="color: #666;">Topic5 title goes here</div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde aut ut aliquam harum doloremque quod quam iste id voluptatem!
                    </div>
                    
                </div>
            </div>
        </li> -->

            </ul>
        </div>
    </div>
</div>


