@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

.span1{
  color:navy;
  font-weight: 600;
  position: relative;
  left: 37px;
  bottom: 10px;

}

.filter{
  /* box-shadow: 0 0px 20px rgba(0,0,0,0.05), 0 0px 20px rgba(0,0,0,0.23); */
  position: relative;
  left: 40px;
  bottom: 10px;
  width: 12.5%;
  height: 30px;
}



/* .container {
  position: relative;
  min-height: 200px;
} */

.table-loading-shade {
  position: relative;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background:(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.mat-table {
  width: 94%; 
  margin-left: auto; 
    margin-right: auto;
    border-collapse: collapse;
    border:  solid 0.1px navy;
    /* text-align:center;
  display: block;
  justify-content: center; */
  font-family: 'Montserrat', sans-serif;
}


.mat-header-cell {
  background-color: navy;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  


 
  
}

.mat-cell{
 
   font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: navy;
  font-size: 1em;

} 



/* .table-container {
  height: 80vh;		
  overflow-y: scroll;	
} */

/* The following CSS will left align the paginator. I prefer it right aligned so I've commented it out */

.mat-paginator {
 width: 94%; 
  margin-left: auto; 
  margin-right: auto;
  color: navy;
  font-family: 'Montserrat', sans-serif;
}


/* Add border and padding to each cell. NOTE: the border color matches the hover color below. */
.mat-cell, .mat-header-cell {
  border: 2px solid navy;

}

.detail-row-collapsed {
  visibility: collapse;
}

.detail-row-expanded {
  visibility: visible;
}

.not-adding {
  visibility: collapse;
}

.adding {
  visibility: visible;
}

.column-filtered {
  background-color: #fff;
}

.column-not-filtered {
  background-color: navy;
}

.mat-header-cell {
  background-color: navy;
  color: white;
}

.mat-column-select {
  overflow: initial;
}

/* Make table zebra stripped. Due to detail rows, need to start with 3rd row and stripe every 4th row. */
tr:nth-child(4n+3) {
  background-color: #fff
}

/* Highlight rows on hover. */
.mat-row:hover {
  background-color: #ddd;
}

/* Column Widths */
/* .mat-column-select {
  width: 40px;
}
.mat-column-expandRow {
  width: 40px;
}
.mat-column-studentSchoolId {
  width: 140px;
}
.mat-column-editDelete {
  width: 80px;
} */




.container-fluid{
  text-align: center;
  display: block;
  background-color: navy;
  padding-top: 15px;
  margin-top: -15px;
  height: 55px;
 
  
}

.h1{
bottom: 5px;
}

#MasterDiv{
  overflow-x:hidden;
  overflow-y: hidden;
  
}


@media all and (max-width:500px){
  .ref{
    
    position: fixed;
   padding-top: 15px;
   margin-right: 95px;
   visibility: hidden;

   
  }

  .mat-table {
    width: 94%; 
    margin-left: auto; 
      margin-right: auto;
      border-collapse: collapse;
      border:  solid 0.1px navy;
      /* text-align:center;
    display: block;
    justify-content: center; */
    font-family: 'Montserrat', sans-serif;
    overflow-x:auto;
  }

  /* * {
    overflow-x: auto;
  } */
  
.table-container{
  overflow-x: auto;
  width: 100%;
}

.span1{
  color:navy;
  font-weight: 600;
  position: relative;
  left: 0px;
  bottom: 10px;

}

.filter{
  /* box-shadow: 0 0px 20px rgba(0,0,0,0.05), 0 0px 20px rgba(0,0,0,0.23); */
  position: relative;
  left: 5px;
  bottom: 10px;
  width: 12.5%;
  height: 30px;
}

.mat-paginator {
  width: 100%; 
   margin-left: auto; 
   margin-right: auto;
   color: navy;
   font-family: 'Montserrat', sans-serif;
 }

}



/* HAMBURGER MENU */
nav {
  margin: -5px;
  padding: 0px;
  background: #fbf8f1;
  color: #fbf8f1;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: navy;
  transition: color 0.3s ease;
}

a:hover {
  color: red;
}

#menuToggle {
  display: block;
  position: relative;
  top: 25px;

  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 270px;
  height: auto;
  top: 138px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 298px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to prevent text flicker in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0 0px 20px rgba(0,0,0,0.05), 0 0px 20px rgba(0,0,0,0.23);
  background: linear-gradient( white 30%, navy 150%);
 


}

#menu li {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  bottom: 290px;
  padding-left: 20px;
  

}

#menuToggle input:checked ~ ul {
  transform: none;
}


.breadcrumb {
  margin: 1rem 0;
  padding: 0.8em 1em;
  background: #fff;
  box-shadow: 0 0px 20px rgba(0,0,0,0.05), 0 0px 20px rgba(0,0,0,0.23);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  right: 55px;
  width: 110%;
  bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.breadcrumb ol {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumb li {
  display: none;
}

.breadcrumb li > * {
  display: block;
  line-height: 1;
  
}

.breadcrumb li:nth-last-child(1) > * {
  display: block;
  line-height: 1;
  font-weight: 700;
}

.breadcrumb li:last-child {
  overflow: hidden;
}

/* .breadcrumb [aria-current="page"] {
  color: navy;
  font-weight: 700;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
} */

@media screen and (max-width: 767px) {

  .breadcrumb li:nth-last-child(2) {
    display: flex;
  }
  /* .breadcrumb li:nth-last-child(1) {
    display: flex;
  } */
  .breadcrumb li:nth-last-child(3) {
    display: flex;
  }
  .breadcrumb li:nth-last-child(5) {
    display: flex;
  }
  .breadcrumb li::before {
    display: inline-block;
    margin: 0 0.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='rgb(187, 205, 229)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");
    min-width: 20px;
    height: 20px;
    content: "";
   
   
  
  }
  .breadcrumb {

    width: 410px;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumb li {
    display: inline-flex;
    align-items: center;
  }

  .breadcrumb li + li::before {
    display: inline-block;
    margin: 0 0.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='rgb(187, 205, 229)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
    min-width: 20px;
    height: 20px;
    content: "";
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* some basic styling (added to the bottom for convenience) */
/* * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: navy;
  background: white;
  
}

a,
a:link,
a:visited {
  color: navy;
  transition: color 0.3s;
}

/* a:hover,
a:active {
  color: red;
} */

a:focus {
  outline-color: navy;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

