
<div id="MasterDiv">

    <nav class="navbar navbar-dark bg-primary">
    
        <nav role="navigation">
          <div id="menuToggle">
    
            <input type="checkbox" />
    
            <span></span>
            <span></span>
            <span></span>
    
            <ul id="menu">
              <a href="index.html" routerLink="/home" routerLinkActive="active">
                <li>Home</li>
              </a>
              <a href="about.html" routerLink="/register" routerLinkActive="active">
                <li>Register Form</li>
            </a>
  
            <a href="contact.html" routerLink="/login" routerLinkActive="active">
                <li>Login Form</li>
            </a>
  
            <a href="store.html" routerLink="/special" routerLinkActive="active">
                <li>Dashboard 1</li>
            </a>
  
            <a href="store.html" routerLink="/dashboard3" routerLinkActive="active">
                <li>Dashboard 3</li>
            </a>
            <a href="store.html"routerLink="/fileupload" routerLinkActive="active">
              <li>Fileupload</li>
          </a>
            
            </ul>
          </div>
        </nav>
    
    
    
    
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1" style="font-size:25px;font-family: sans-serif;position: relative;left: 10px;">Enterprise Company</span>
    
          <span class="ref" style="font-size:15px;font-family: sans-serif;position: fixed;right: 70px;top: 19px;">User: Gokul</span>
    
          <button class="btn" routerLink="/login" routerLinkActive="active"><i class='fas fa-user-circle'
              style='color: white;position: absolute;top: 25px;right: 50px;'></i></button>
    
    
        </div>
    
    
    
    
    
      </nav>
    
  
      
      <div class="container1">
        <nav aria-label="Breadcrumb" class="breadcrumb">
          <ol itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="#" routerLink="/home" routerLinkActive="home" itemprop="item">
                <span itemprop="name" class="sr-only">Home</span>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
              </a>
              <meta itemprop="position" content="1" />
            </li>
            <!-- <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="#" routerLink="/register" routerLinkActive="active" itemprop="item">
                <span itemprop="name">Register Form</span>
              </a>
              <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="#"  routerLink="/login" routerLinkActive="active" itemprop="item">
                <span itemprop="name">Login Form</span>
              </a>
              <meta itemprop="position" content="3" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="#"  routerLink="/special" routerLinkActive="active" itemprop="item">
                <span itemprop="name">Dashboard 1</span>
              </a>
              <meta itemprop="position" content="4" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <span itemprop="item" aria-current="page">
                <a href="#"  routerLink="/dashboard3" routerLinkActive="active" itemprop="item">
                <span itemprop="name">Dashboard 3</span>
                </a>
              </span>
              <meta itemprop="position" content="5" />
            </li> -->
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <span itemprop="item" aria-current="page">
                <a href="#"  routerLink="/dashboard3" routerLinkActive="active" itemprop="item">
                <span itemprop="name">Fileupload</span>
                </a>
              </span>
              <meta itemprop="position" content="6" />
            </li>
          </ol>
        </nav>
      </div>
    
  
  
  
  
  
  
  
  
  
  
  
  <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="assets/img/dnd/ic-upload-file.svg" alt="">
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress [progress]="file?.progress"></app-progress>
      </div>
      <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
  </div>
  
  
  </div>
  

  <div>

 